<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sori.touchsori">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 진동 퍼미션 -->
    <uses-permission android:name="android.permision.VIBRATE" />
    <!-- SMS 문자 퍼미션 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 저장장치 퍼미션 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 단말기 깨우기 퍼미션 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- GPS 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 오디오 퍼미션 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <application
        android:name=".SoriApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".signIn.SignInActivity" android:launchMode="singleTask"/>
        <activity android:name=".setting.SettingActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.PolicyActivity" android:configChanges="keyboardHidden"/>
        <activity android:name=".MainActivity" android:launchMode="singleTask"/>
        <activity android:name=".setting.SnumberUpdateActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.AnsimActivity" android:launchMode="singleTask"/>
        <activity android:name=".search.SearchActivity" android:launchMode="singleTask"/>



        <!-- 터치소리 서비스 -->
        <service
            android:name=".service.TouchService"
            android:enabled="true"
            android:exported="true" />

        <!-- 터치 메시지 서비스 -->
        <service
            android:name=".service.TouchMessageService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="kr.co.innochal.MSG_SERVICE_ACTION_EMERGENCY" />
            </intent-filter>
            <intent-filter>
                <action android:name="kr.co.innochal.MSG_SERVICE_ACTION_MEDIA" />
            </intent-filter>
        </service>

        <!-- 위치정보 전송 서비스 (5회) -->
        <service
            android:name=".service.SendLocationService"
            android:enabled="true"
            android:exported="true" />

        <!-- 위치정보 전송 서비스 (5회) -->
        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="true" />

        <!-- 안심귀가 리시버 -->
        <receiver
            android:name=".receiver.EmergencyRecevier"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="kr.co.innochal.ACTION_EMERGENCY_TIME_START" />
                <action android:name="kr.co.innochal.ACTION_EMERGENCY_TIME_END" />
                <action android:name="kr.co.innochal.ACTION_SEND_LOCATION" />
            </intent-filter>
        </receiver>

        <!-- 사운드 리시버 -->
        <receiver
            android:name=".receiver.SoundReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="kr.co.innochal.ACTION_SOUND_PARSER_RUNNING" />
            </intent-filter>
        </receiver>

        <!-- 모니터 서비스 -->
        <service
            android:name=".service.MonitorService"
            android:enabled="true"
            android:exported="true" />

        <!-- 스크린 리시버 -->
        <receiver
            android:name=".receiver.ScreenRecevier"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>



    </application>

</manifest>